#fd2{
    border-radius:10px;
    background-color: lightgreen;
}
legend{
    color: red;
}
#fd1{
    background-color: pink;
}
#t2{
    background-color: red;
}
p{
    color: red;
}
body{
    background-color: bisque;
}
.l1{
    color: white;
}